h2 {
  color: black;
}

#back-back {
background-color: #f5f5dd;
align-items: center;
width: 250px;
padding-left: 10px;
padding-bottom: 10px;

}

.kwadrat {
  height: 100px;
  width: 100px; 
  margin: 10px auto; 
  text-align: center; 
}
#squarex1 {
  background-color:rgba(0,0,0,1.0);

}
#squarex2 {
  background-color:rgba(0,0,0,0.75);

}
#squarex3 {
  background-color:rgba(0,0,0,0.5);

}
#squarex4 {
  background-color:rgba(0,0,0,0.2);
}